<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Grande Conquistador</title>

        <!-- Bootstrap Core CSS -->
        <link href="/css/base/bootstrap.min.css" rel="stylesheet">

        <!-- Theme CSS -->
        <link href="/themes/modern-business/modern-business.css" rel="stylesheet">
        
        <!-- Custom CSS -->
        <link href="/css/core/core.css" rel="stylesheet">
        <link href="/css/core/brand.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ nav_home }}">Home</a>
                </div
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        {% embed ('Core\Menu::nav' @'layout/modern-business/nav.htm') %}
                        {% embed ('User\Menu::front' @'apps/User/view/front.htm') %}
                    </ul>
                </div>
            </div>
            <!-- /.container -->
        </nav>
        

        <!-- Header Carousel -->
        <header id="myCarousel" class="carousel slide">
            {% embed ('Core\Menu::header' @'layout/modern-business/header.htm') %}
        </header>

        <!-- Page Content -->
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ h1 }}</h1>
                </div>
                <!--messages -->
                <div id="messages">{{ messages }}</div>
            </div>
            <div id="jsmonitor" style="position:fixed;top:120px;right:100px;z-index:360;background:#fff;color:red"></div>

            <!--controller action content -->
            <div id="conten_action">{{ include('main') }}</div>

            <hr>

            <!-- Footer -->
            <footer>
                <div class="row">
                    {% include ('layout/modern-business/footer.htm') %}
                </div>
            </footer>

        </div>
        <!-- /.container -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/js/base/bootstrap.js"></script>
        
        <!-- Custom Core JavaScript -->
        <script src="/js/core/core.js"></script>
        <!-- Dynamic Javascrip files and scripts -->
        <script src="{{ dynamicjs }}"></script>
        <script>{{}}</script>
        <script>
            $( ".support-btn" ).click(function() {addSupport(this);});
            $( "#dev_display" ).click(function() {$(".dm").toggle();});
        </script>
    </body>
</html>