<form action="{$action}" method="post">
    <div class="btns-support">
        <!--{$buttons}-->
    </div>
    {@while (item in usermsg):}
    <div class="usermsg">{$item.msg}</div>
    {@endwhile;}
    <h3 style="font-size: 125%; width: 400px; text-align: center">{$title}</h3>
    {$hiddenfields}
    {@while (item in inputs):}
    <div class="form-group">
        <label for="{$item.field}">{$item.label}</label><span class="input-error"></span>
        {$item.input}
    </div>
    {@endwhile;}
    <div style="margin-bottom: 15px"></div>
</form>
