<ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
    <li class="dropdown">
        {@embed control:'Support\Support'; action:'menu'; view:'apps/Support/view/menu.htm'}
        <!-- /.dropdown-support -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        {@if($files-menu):}
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-database fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        {@endif;} 
        <ul class="dropdown-menu dropdown-user">
            {@while ($item in $files-menu):}
            <li>
                <a href="{$item.url}"><i class="fa fa-file fa-fw"></i>{$item.company}</a>
            </li>
            <li class="divider"></li>
            <li>&nbsp;{$item.dates}</li>
            <li class="divider"></li>
            {@endwhile;}
        </ul>
        <!-- /.dropdown-files -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        {$user-menu}
        <!-- /.dropdown-user -->
    </li>

    {$tool-debug}
    <!-- /.dropdown -->
</ul>