<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
            <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
            <a href="#pontuaction">Pontuação</a>
        </li>
        <li class="page-scroll">
            <a href="#sales">Vendas</a>
        </li>
        <li class="page-scroll">
            <a href="#contact">Prémios</a>
        </li>
        <li class="page-scroll">
            <a href="#contact">Rebates</a>
        </li>
    </ul>
</div>