<section id="news">
    <div class="row" style="background-color: #ccc; padding: 20px 0">
        <div class="container">
            <div class="col-lg-12 text-center services-text">
                <h3>Notícias</h3>
            </div>
        </div>
    </div>

    <div class="row" style="background-color: #ccc;">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
    
</section>
