{@extends 'config:frontend'}

<section id="services">
    
    {@while ($item in $services):}
    <div class="row" style="background-color: #D22630; padding: 20px 0">
        <div class="container">
            <div class="col-lg-12 text-center services-text">
                <h2>{$item.title}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container service-desc">
            <div class="col-md-5 service-desc-img">
                <img class="service-img" src="/images/home/{$item.slug}.jpg" alt="{$item.slug}" />
            </div>
            <div class="col-md-7 service-desc-text">
                {$item.desc}
            </div>  
        </div>
    </div>
    {@endwhile;}
    
</section>
