<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Backend {$sitetitle}</title>
        <link rel="icon" type="image/x-icon" href="/images/nsitio.png" />

        <!-- Bootstrap Core CSS -->
        <link href="/css/base/bootstrap.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="/themes/sb-admin-2/plugins_css/metisMenu/metisMenu.min.css" rel="stylesheet">

        <!-- Dynamic CSS -->
        <link id="block:css" />

        <!-- Custom CSS -->
        <link href="/themes/sb-admin-2/sb-admin-2.css" rel="stylesheet">
        <link href="/css/core/mybootstrap.css" rel="stylesheet">
        <link href="/css/core/core.css" rel="stylesheet">
        <link href="/css/personal/brand.css" rel="stylesheet">
        <link href="/css/personal/backend.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

        <div id="wrapper">
            
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header-sitio">
                    <button type="button" class="navbar-toggle-sitio" data-toggle="collapse" data-target=".navbar-collapse-sitio">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand-sitio" href="/">
                        {$sitetitle}
                    </a>
                </div>
                <!-- /.navbar-header -->

                <ul class="nav navbar-top-links navbar-right">
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        {@embed control:'Support/Support'; action:'menu'; view:'apps/Support/view/menu.htm'}
                        <!-- /.dropdown-support -->
                    </li>
                    {@load \lib\url\Authool::render(user=>caret, debug=>tool)}
                </ul>
                
                <!-- /.navbar-top-links -->
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse-sitio">
                        {@load \lib\url\BackendMenu::render(configs=>fa-gear, admin=>fa-gear)}
                    </div>
                </div>
            </nav>
            

            <div id="page-wrapper">
                <div id="layer-one" style="display: none"></div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">{$heading}</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div id="jsmonitor" style="position:fixed;bottom:5px;right:100px;z-index:360;background:#fff;color:red;"></div>

                <!--controller action content -->
                <div id="content_action">{@block 'content'}</div>

                <!--messages -->
                <div>{@debug-list}</div>
            </div>
        </div>



        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/js/base/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/js/base/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/themes/sb-admin-2/plugins_js/metisMenu/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/themes/sb-admin-2/sb-admin-2.js"></script>
        
        <!-- Custom Core JavaScript -->
        <script src="/js/core/core.js"></script>
        <script src="/js/personal/personal.js"></script>

        <!-- Dynamic Javascrip files -->
        <script id="block:js" />
        
        {@block 'scripts'}
        
        <script>
            $( ".support-btn" ).click(function() {addSupport(this);});
            $(document).on('click', '.btn-modal', function(){modalLoad(this);});
            $( "#dev_display" ).click(function() {$(".dm").toggle();});
            $(window).resize(function () {monitor();});
            //$(function () {monitor();});
        </script>

    </body>
</html>