<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse-sitio">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">                
                <div class="input-group custom-search-form">
                    <!--<input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i> </button></span>-->                
                </div>                
                <!-- /input-group --> 
            </li>
            <li>
                <a class="active" href="/backend"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
            </li>
            {@if($nav[configs]):}
            <li>
                <a href="#"><i class="fa fa-gear fa-fw"></i> Configs<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    {@while ($item in navs[configs]):}
                        {$item.link}
                    {@endwhile;}
                </ul>
                <!-- /.nav-second-level -->
            </li>
            {@endif;} 
            
            {@if($nav[admin]):}
            <li>
                
                <a href="#"><i class="fa fa-gear fa-fw"></i> Admin<span class="fa arrow"></span></a>
                 
                <ul class="nav nav-second-level">
                    {@while ($item in $navs[admin]):}
                        {$item.link}
                    {@endwhile;}
                </ul>
                <!-- /.nav-second-level -->
            </li>
            {@endif;}
            
            {@if($nav[task]):}
            <li>
                
                <a href="#"><i class="fa fa-support fa-fw"></i> Tarefas<span class="fa arrow"></span></a>
                
                <ul class="nav nav-second-level">
                    {@while ($item in $navs[task]):}
                        {$item.link}
                    {@endwhile;}
                </ul>
                <!-- /.nav-second-level -->
            </li>
            {@endif;}
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->