{% extends 'layout/default.htm' %}
<ul id="navigation">
    <li>Menu</li>
    {% while (navigation as item) %}
    <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endwhile %}
</ul>
{% if (list) %}
<h2>{{ list_title }}</h2>
{% else %}
<h2>No title</h2>
{% endif %}
<div>
    <ul id="list">
        {% while (list as item) %}
        <li>{{ item.name }} * </li>
        {% endwhile %}
    </ul>
</div>
{% if (content='teste') %}
<div style="font-weight: bold" id="content">Test Content</div>
{% elseif (content='this') %}
<div style="font-weight: bold" id="this">{{ content }}</div>
{% else %}
<div style="font-weight: bold">No Content</div>
{% endif %}

{% attr (class, teste, 'a=>cl_a, b=>cl_b') %}
<div>{{ teste }}</div>
{% endattr %}

{% if (includes) %}
<h4>Test for includes</h4>
{% endif %}
{% include ('Home/view/include.htm' with @includes) %}
{% embed ('Home::teste' with @list_title) %}
