<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Liga dos Campeões das Vendas Login</title>

        <!-- Bootstrap Core CSS -->
        <link href="/css/base/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="/themes/sb-admin-2/plugins_css/metisMenu/metisMenu.min.css" rel="stylesheet">

        <!-- Dynamic CSS -->
        <link href="{{ dynamiccss }}"  rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/themes/sb-admin-2/sb-admin-2.css" rel="stylesheet">
        <link href="/css/base/bootstrap-social.css" rel="stylesheet">
        <link href="/css/core/core.css" rel="stylesheet">
        <link href="/css/personal/brand.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/themes/sb-admin-2/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="/js/core/login.js"></script>

    </head>

    <body>
        <div class="wrapper layer-login">
            <div class="container">
                <div class="row" style="margin-top: 50px; text-align: center">
                    <div class="col-md-4 col-md-offset-4" style="max-width: 350px">
                        <img src="/images/Refriango.png" style="width: 80%; height: auto;" />
                        <h4 style="text-align: center; color: #EFFF00; padding: 2px">{{ user_message }} </h4>
                        <div class="login-panel panel panel-default">
                            <!--
                            <div class="panel-heading login-heading">
                                <h3 class="panel-title">{{ h1 }}</h3>
                            </div>
                            -->
     
                            <div class="panel-body" style="padding: 15px 26px">
                                <form method="POST" action="/user/validation_login" onsubmit="return validateLogin()" name="login">
                                    <fieldset>
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input class="form-control" placeholder="E-mail" name="email" type="text" autofocus>
                                        </div>
                                        <div class="form-group">
                                            <label>Palavra chave</label>
                                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                        </div>
                                        <!--
                                        <div class="checkbox">
                                            <label>
                                                <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                            </label>
                                        </div>
                                        -->
                                        <!-- Change this to a button or input when using this as a form -->
                                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Login" />


                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div style=" background-color: #fff; margin: 0 15px; padding: 5px">
                            <h3 class="panel-title">{{ h2 }}</h3>
                        </div>
                        <div class="login-oauth">
                            <a href="{{ gOAuth-url }}">
                                <i class="fa fa-google-plus"></i>Sign in with Google
                            </a>
                        </div>
                        <div style="text-align: center">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
        <script src="/js/base/jquery-2.1.1.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/js/base/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/themes/sb-admin-2/plugins_js/metisMenu/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/themes/sb-admin-2/sb-admin-2.js"></script>
        <script src="https://apis.google.com/js/client:platform.js" async defer></script>

        <script>
    $("#dev_display").click(function () {
        $(".dm").toggle();
    });
        </script>

    </body>

</html>
