{% extends 'layout/freelancer/main.htm' %}

{% cssextension '/plugins/bootstrap-datetimepicker/datetimepicker.css' %}
{% cssextension '/plugins/chosen/chosen.css' %}
{% cssextension '/css/core/backend.css' %}
{% jsextension '/js/core/dataform.js' %}
{% jsextension '/js/core/bsInputs.js' %}
{% jsextension '/plugins/jeditable/jquery.jeditable.js' %}

<!-- /.row -->
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="data-id" style="display: none">{{ dataid }}</div>
                <div class="alert alert-info">
                    {% while (item in usermsg) %}
                    <div>{{ item.msg }}</div>
                    {% endwhile %}
                </div>
                <div class="btns-form">
                    <!--{{ buttons }}-->
                </div>

                <div class="form-group" style="max-width: 100% !important">
                    <label>Nome</label><span class="input-msg"></span>
                    <div data-input="text" data-action="/user/name_profile/{{ data-id }}" class="show-data to-edit">{{ name }}</div>
                </div>
                <div class="form-group" style="max-width: 100% !important">
                    <label>E-mail</label><span class="input-msg"></span>
                    <div data-input="text" data-action="/user/mail_profile/{{ data-id }}" class="show-data to-edit">{{ mail }}</div>
                </div>
                <div class="form-group" style="max-width: 100% !important">
                    <label>Telemóvel</label><span class="input-msg"></span>
                    <div style="min-width: 15px; min-height: 10px" data-input="text" data-action="/user/tlm_profile/{{ data-id }}" class="show-data to-edit">{{ tlm }} </div>
                </div>
                <div class="form-group" style="max-width: 100% !important">
                    <label>Telefone</label><span class="input-msg"></span>
                    <div style="min-width: 15px; min-height: 10px" data-input="text" data-action="/user/tlf_profile/{{ data-id }}" class="show-data to-edit">{{ tlf }} </div>
                </div>
                <div class="form-group" style="max-width: 100% !important">
                    <label>Morada</label><span class="input-msg"></span>
                    <div style="min-width: 15px; min-height: 10px" data-input="text" data-action="/user/address_profile/{{ data-id }}" class="show-data to-edit">{{ address }} </div>
                </div>
                <div class="form-group" style="max-width: 100% !important">
                    <label>Código Postal</label><span class="input-msg"></span>
                    <div style="min-width: 15px; min-height: 10px" data-input="text" data-action="/user/zip_profile/{{ data-id }}" class="show-data to-edit">{{ zip }} </div>
                </div>
                <div class="form-group" style="max-width: 100% !important">
                    <label>Localidade</label><span class="input-msg"></span>
                    <div style="min-width: 15px; min-height: 10px" data-input="text" data-action="/user/local_profile/{{ data-id }}" class="show-data to-edit">{{ local }} </div>
                </div>
            </div>

        </div>    
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="btns">
                    <a class="btn-modal btn btn-primary btn-bus" 
                       data-toggle="modal" data-target="#myModal"
                       data-action="/user/password_profile/{{ data-id }}" data-layer="form-process">
                        <span class="glyphicon glyphicon-wrench"></span> Mudar password
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" id="form-process">

    </div>
</div>
<script>
    $(function () {
        toEdit();
    });
    $(document).on('click', '.btn-save', function () {
        changePass(this);
    });
    function changePass(element) {
        var form = getParentByTag(element.parentElement, "FORM");
        registFormLabels(form);
        var val_a, val_b;
        for (var i = 0; i < form.length; i++) {
            if (form[i].id === "pass1") {
                val_a = form[i].value;
            }
            if (form[i].id === "pass2") {
                val_b = form[i].value;
            }

        }
        var id = document.getElementById("pass2");
        var div = getParentByClass(id, "form-group");
        if (val_a === val_b) {
            div.className = "form-group has-success";
            id.label.nextSibling.innerHTML = "";
            var data = serializeForm(form);
            $.post("/user/change_profile", data, function (data, status) {
                $("#change-pass").html(data);
            });
        } else {
            div.className = "form-group has-error";
            id.label.nextSibling.innerHTML = "A password introduzida não é igual";
        }
    }
</script>