<div class="sublist-nums" style="display: none">{$numrows}/{$total}</div>
<div class="head-list-modal">
    <div class="modal-buttons">
        <a class="close-modal btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-remove"></span> Fechar</a>
    </div>
    <span class="hidden" id="data-htm">{$htm-id}</span>
</div>
<!-- grid template for add datarow -->

<div class="datagrid">
    <!-- grid body -->
    <div class="file-form" style="margin-bottom: 20px">
        {$file-input}
    </div>
    <div id="modal-bodygrid" class="bodygrid">
        <div class="file-gallery col-xs-6 col-md-3" style="display: none">
            <div class="thumbnail">
                <a class="img-choose" title="Choose?" data-action="{$data-choice-action}" ><img /></a>
                <div class="thumb-tools">
                    <a title="Delete" data-command="del" class="thumb-action fa fa-trash-o"></a>
                </div>
                <div class="thumb-title">{$item.media_info.title}</div>
            </div>           
        </div>
        {@while ($item in $list):}
        <div class="file-gallery col-xs-6 col-md-3">
            <div class="thumbnail {$item.choice}">
                <a data-command="choice" data-htm="{$htm-id}" data-action="{$data-choice-action}" data-id="{$item.media.id}" class="img-choose" title="Choose?">
                    <img src="{$item.media.source}" /></a>
                <div class="thumb-tools">
                    <a title="Delete" data-id="{$item.media.id}" data-action="{$data-action}" 
                       data-command="del" class="thumb-action fa fa-trash-o"></a>
                </div>
                <div class="thumb-title">{$item.media_info.title}</div>
            </div>           
        </div>
        {@endwhile;}
    </div>
    <!-- grid footer -->
    <div class="footgrid">
        <ul class="pagination">
            <!--{@while ($item in $pagination):}-->
            <li class="{$item.class}">
                <a class="btn-pagin" data-id="{$item.id}" data-action="{$item.action}">{$item.label}</a>
            </li>
            <!--{@endwhile;}-->
        </ul>
    </div>
</div>
