<script>
    $(document).on('click', '.datarow', function(){($(this).css('backgroundColor') === "rgb(255, 255, 153)") ?$(this).css('background-color', ""):$(this).css('background-color', '#ff9');});
    $(document).on('click', '.row-action', function(){setRowAction(this);});
    $(document).on('click', '.float-action', function(){setFloatAction(this);});
    $(document).on('click', '.btn-action', function(){setButtonAction(this);});
    $(document).on('click', '.btn-action-flush', function(){setButtonActionFlush(this);});
    $(document).on('click', '.btn-pagin', function(){paginate(this);});
    $(document).on('click', '.btn-sort', function(){sortList(this);});
    $(document).on('click', '.btn-filter', function(){filterList(this);});
    $(document).on('click', '.btn-list-all', function(){filterAllList(this);});
    $(document).on('click', '.btn-showfilter', function(){openFilter(this);});
    $(document).on('click', '.btn-hidefilter', function(){closeFilter(this);});
    $(document).on('click', '.btn-confirm', function(){confirmAction(this);});
    
    $(document).on('click', '.clear-input', function(){clearInput(this);});
    $(document).on('click', '.repeat-input', function(){repeatInput(this);});
    
    $(document).on('click', '.closework', function(){closeWorkRow(this);});
    $(document).on('click', '.closeform', function(){closeForm(this);});
    $(document).on('click', '.editform', function(){editForm(this);});
    $(document).on('click', '.saveform', function(){saveForm(this); });
    $(document).on('click', '.delform', function(){delForm(this);});
    $(document).on('click', '.resetform', function(){resetForm(this);});
    $(document).on('click', '.btn-plus-value', function(){addValueInput(this);});
    $(document).on('change', 'input', function(){inputChanged(this);});
    $(document).on('click', '.chosen-select-group', function(){chosenSelectGroup(this);});
    
    
    
    var lang = "pt";
    $(function () {
        adjustRowWidth();
        prepareBSInputs();
        boolGlyph();
    });
    $( document ).ajaxComplete(function() {
        adjustRowWidth();
        prepareBSInputs();
        updateList();
        boolGlyph();
    });
    
    
</script>