<div class="container">
    <div class="row">
        <div class="col-md-4">
            <span class="copyright">Copyright &copy; {$sitetitle} 2016</span>
        </div>
        <div class="col-md-4">
            <ul class="list-inline social-buttons">
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-inline quicklinks">
                {@load \lib\url\Authool::render(backend=>Backend, login=>Login, debug=>tool)}
                <li>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
