<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/">
            <img src='/images/hattrick.png' alt="{$sitetitle}" />
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li>
                <a class="page-scroll" href="#about">Quem somos</a>
            </li>
            <li>
                <a class="page-scroll" href="#services">Serviços</a>
            </li>
            <li>
                <a class="page-scroll" href="#contact">Contactos</a>
            </li>
        </ul>
    </div>
</div>